flask
geoip2
geopy
requests
gevent
dnspython
pylint
cyrtranslit
astral
timezonefinder==2.1.2
pytz
pyte
python-dateutil
diagram
pyjq
scipy
numpy
pillow
babel
pylru
pysocks
supervisor
numba
emoji
grapheme
pycountry
urllib3>=2.6.3 # not directly required, pinned by Snyk to avoid a vulnerability
